/* Assurer que le body occupe toute la hauteur de la fenêtre */
.index {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Hauteur de la fenêtre */
}

/* Le conteneur qui englobe le bouton */
.button-container {
    display: flex;            /* Active le mode Flexbox */
    justify-content: center;  /* Centre horizontalement */
    align-items:center;   /* Centre verticalement */
    height: 500px;
}

/* Style du bouton */
.jouer {
    font-family:fantasy;
    height: 100px;
    border-style: none;
    padding: 0;       /* Taille du bouton */
    font-size: 100px;         /* Taille du texte */
    background-color: rgba(1, 6, 20, 0); /* Couleur de fond */
    color: rgb(229, 239, 242);             /* Couleur du texte */
    text-shadow:
      0 0 7px #16161a,
      0 0 10px #0d0e10,
      0 0 21px #151789,
      0 0 42px rgb(37, 37, 38),
      0 0 82px rgb(11, 11, 11),
      0 0 92px rgb(26, 29, 28),
      0 0 102px rgba(21, 0, 255, 0),
      0 0 151px rgb(30, 30, 31);
      transition: text-shadow 0.25s ease; 
}
.jouer:hover{
    text-shadow:
      0 0 7px rgb(243, 243, 248),
      0 0 10px rgb(243, 243, 248),
      0 0 21px rgb(243, 243, 248),
      0 0 42px rgb(243, 243, 248),
      0 0 82px rgb(252, 249, 249),
      0 0 92px rgb(244, 247, 246),
      0 0 102px rgba(21, 0, 255, 0),
      0 0 151px rgb(250, 250, 252);
}
#titre1 {
    justify-content: center;
    display: flex;
    align-items:center;
    font-family:sofia;
    font-size: 100px;
    color: #fff;
  text-shadow:  /* Avec l'attribut d'ombre tu peux faire un effet néon*/
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(217, 220, 234),
      0 0 102px rgba(110, 109, 121, 0.959),
      0 0 151px rgba(24, 25, 27, 0.938);
      
}
#bmusique{
    font-family:fantasy;
    border-style: none;
    padding: 30px;       /* Taille du bouton */
    font-size: 50px;         /* Taille du texte */
    background-color: rgba(1, 6, 20, 0); /* Couleur de fond */
    color: rgb(229, 239, 242);
}
#bmusique:hover{
    font-family:fantasy;
    border-style: none;
    padding: 30px;       /* Taille du bouton */
    font-size: 50px;         /* Taille du texte */
    background-color: rgba(1, 6, 20, 0); /* Couleur de fond */
    color: rgb(255, 255, 255);
}
.pendu{
    background-color:  rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    overflow: hidden; 
}
.word  { 
    font-size: 24px; letter-spacing: 10px; 
}
.status {
     margin: 20px 0; 
    }

 hr{
        width: 10px;
        border-color: transparent;
        border-right-color: rgba(232, 225, 225, 0.7);
        border-right-width: 80px;
        position: absolute;
        bottom: 100%;
        transform-origin: 100% 50%;
        animation-name: rain;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        animation-delay: -2s;

  }

  @keyframes rain {
    from {
     transform: rotate(90deg) translateX(0);
    }
    to {
     transform: rotate(90deg) translateX(calc(100vh));
    }
   }

 