<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&">
    <link href="https://fonts.cdnfonts.com/css/trajan-pro" rel="stylesheet">
</head>
<body class="pendu">
    <p id="img" data-remaining="{{.RemainingAttempts}}"></p><!--sert pour les pv voirs le js en dessous-->
    <div class="status">
        <p class="word">
            {{range .WordShown}}  <!--Affiche le mot avec une loop-->
                {{if eq . "_"}}_ {{else}}{{.}} {{end}}
            {{end}}
        </p>
    </div>

    {{if eq .GameStatus "ongoing"}}
    <form method="POST" autocomplete="off">
        <input type="text" autofocus="true" class="guess" name="guess" maxlength="10" required >
    </form>
    <div class="used-letters">
        <p>
            {{range .GuessedLetters}}
                {{.}} 
            {{end}}
        </p>
    </div>
    {{else}}
   
        {{if eq .GameStatus "won"}}
            <h2 class="win">Ton daron serait fier</h2>
        {{else}}
            <h2 class="loose">Vous avez échoué</h2>
            <p class="reveal">Le mot était : {{.TargetWord}}</p>
        {{end}}

        <a class="encore" href="/pendu?difficulty={{.Difficulty}}">Encore ?</a>
    {{end}}

    <div id="image-container">
        <img id="animated-image" src="../assets/1.png" alt="Animated Image">

    <script>    
        const imgContainer = document.getElementById("img");//fait deux loops qui printent les images selon le nombres de tentatives restante
        const remaining = parseInt(imgContainer.getAttribute("data-remaining"), 10);
        let text = "";
        for (let i = 0; i < remaining; i++) {
            text += '<img src="assets/hp.png" alt="hp">';
        }if (remaining < 10){
            for (let i = 0; i < 10 - remaining; i++){
                text += '<img src="assets/hplost.png" alt="hp">';
            }
        }
        imgContainer.innerHTML = text;
    </script>

    <script type="text/javascript">

        let hrElement; //animation de plus 
        let counter = 25;
        for (let i = 0; i < counter; i++) {
          hrElement = document.createElement("HR"); //HR = la pluie
          
            hrElement.style.left = Math.floor(Math.random() * window.innerWidth) + "px"; //prend un nbr aléatoire = position de la goutte
            hrElement.style.animationDuration = 0.2 + Math.random() * 0.3 + "s"; //fait aller la goutte plus ou moins vite
         
          document.body.appendChild(hrElement);
        }   
      </script>
          <script>
  const imagePaths = [
  "../assets/1.png",
  "../assets/2.png",
  "../assets/3.png",
  "../assets/4.png",
  "../assets/5.png",
  "../assets/6.png",
  "../assets/7.png",
  "../assets/8.png",
  "../assets/9.png",
  "../assets/9.png",
  "../assets/9.png",
  "../assets/9.png",
  "../assets/9.png",
  "../assets/9.png",
  "../assets/9.png",
  "../assets/8.png",
  "../assets/7.png",
  "../assets/6.png",
  "../assets/5.png",
  "../assets/4.png",
  "../assets/3.png",
  "../assets/2.png",
  "../assets/1.png",
  "../assets/3.png",
  "../assets/2.png",
  "../assets/1.png"
  
];

const imageElement = document.getElementById("animated-image"); //change d'image en boucle pour créer une animation

if(remaining > 0){

let currentIndex = 0;

function animateImages() {
  imageElement.src = imagePaths[currentIndex]; 
  currentIndex = (currentIndex + 1) % imagePaths.length; 
}
setInterval(animateImages, 400);
}else{
    imageElement.src = "assets/jsp.png";
    imageElement.style.height = "100px"
}


          </script>
</body>
<footer>
    <a href="http://localhost:7080/diff" class="changed">Choix de la difficulté</a>
</footer>
</html>